<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon slot="start" name="chatbubbles"></ion-icon>
      <ion-title>Erro 404</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h2 class="ion-no-margin">OOOOOOOO PARADO AÍ</h2>
  <p>Tem esse conteúdo louco nessa página não mermão, vai pra outra.
  </p>
<ion-button expand="block" routerLink="/articles">
Pagina inicial.
</ion-button>

</ion-content>